html{
	background-color: rgb(221, 221, 221);
}

h1{
	font-family: "Roboto";
}

.buttonContainer Button{
	display: inline-block;
	margin-right: 10px;
}

img.thumbnail{
	height: 50px;
	width: 50px;
}

img.thumbnailPlaceholder{
	height: 50px;
	width: 50px;
	background-color: rgb(221, 221, 221);
}

.gridContainer{
	padding-bottom: 200px;
}

.formContainer{
	margin: auto;
	padding: 25px;
	text-align: center;
}

.inputContainer{
	width: 400px;
	margin: auto;
	padding: 10px;
}

.slick-prev:before, .slick-next:before{
    color:black;
}

